Source: nacl
Priority: extra
Maintainer: Michael Stone <michael@laptop.org>
Build-Depends: cdbs, debhelper (>= 8.0.0), pandoc
Standards-Version: 3.9.2
Section: libs
Homepage: http://nacl.cace-project.eu/

Package: libnacl-dev
Section: libdevel
Architecture: any
Depends: 
Description: NaCl: Networking and Cryptography Library
 
